.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 15px;
}

.p-3 {
    padding: 20px;
}

.p-4 {
    padding: 25px;
}

.p-5 {
    padding: 30px;
}

.task_edit,
.task_delete,
.task_status {
    color: black;
}

.task_edit:hover {
    color:rgb(100, 143, 192);
}

.task_delete:hover {
    color:red;
}

.task_status:hover {
    color: rgb(119, 201, 119);
}

.form-group {
    margin-bottom: 0px !important;
}

.error {
    color:red;
    margin-bottom: 15px;
}

.mb-5 {
    margin-bottom: 15px !important;
}

.navbar-inverse {
    background-color: #1A65C8 !important;
    border-color: #1A65C8 !important;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: white !important;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand:hover {
    color: rgb(117, 164, 226) !important;
}